body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-image: linear-gradient(to right,rgb(1, 203, 218),hsl(73, 98%, 51%));
    background-repeat: no-repeat;
}

#i1{
    height:60px;
    width:350px;
    font-size:large;
    border-radius: 10px;
    display: flex;
    align-content: center;
    text-align: right;
    

}
.con{
    padding: 50px;
    border-radius: 30px;
    border: 2px solid black;
}
button{
    height:80px;
    width:90px;
    font-size: 20px;
    border-radius: 50%;
    

}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}